body{
  background-color: black;
  color:white;
  
}

h1{
  font-size: 60px;;
}

.input{

  

}
.input-box{
  font-size: 20px;
  padding: 10px;
  border: 2px solid  hsla(0, 0%, 0%,10%);
  border-radius: 10px;
  margin: 10px;
}
ol{
  padding: 0;
}
li{
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 10px;
  background-color: rgb(58, 10, 34);
  border: 1px solid hsla(0, 100%, 25% ,0.5);
  display: flex;
  align-items: center;
  justify-content: center;

}
.tasks{
  flex:1;
}

.delete-tasks{
  padding: 15px;
  background-color: rgb(241, 56, 56);
  border: none;
  border-radius: 10px;
  font-size : 15px;
  /* box-shadow: 10px,10px,10px,black; */
}

.addTask{
  padding: 14px;
  background-color: hsl(139, 60%, 37%);
  border: none;
  border-radius: 10px;
  font-size : 20px;

}